.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-section{
    display: flex;
    align-items:center;
}
.threelines{
    height: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
.threelines:hover{
    cursor: pointer;
}
.youtubelogo{
   height: 20.5px;
}
.youtubelogo:hover{
    cursor: pointer;
}
.middle-section{
    flex: 1;
    margin-left: 59px;
    margin-right: 25px;
    max-width: 600px;
    display: flex;
    align-items: center;
}
.search-bar{
    height: 36px;
    flex: 1;
    padding-left: 12px;
    border: solid;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    border-radius: 3px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0,0.05);
    width: 0;
}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 15px;
    padding-top: 4px;
}
.search-bar:active{
    border-width: 1px;
    border-color:  rgb(158, 158, 158);
    box-shadow: 0px 0px 0px rgb(185, 185, 185);
}
.voice-button{
    height: 40px;
    width: 40px;
   margin-left: 10px;
   border-style: none;
   border-radius: 20px;
}
.voice-button:hover{
    opacity: 0.9;
    background-color: rgb(218, 218, 218);
}
.voice-button:active{
    opacity: 0.7;
}
.voice-icon{
    height: 29px;
    width: 27px;
    padding-top: 2px;
    padding-right: 100px;
    padding-left: 0px;
}
.search-button{
    height: 40px;
    width: 68px;
    margin-left: -1px;
    border: solid;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
}
.search-button:hover{
    opacity: 0.9;
    background-color: rgb(218, 218, 218);
}
.search-button:active{
    opacity: 0.7;
}
.search-icon{
    height: 25px;
    width: 29px;
    padding-top: 4.2px;
}
.right-section{
    width: 250px;
    display: flex;
   align-items: center;
   justify-content: space-between;
   flex-shrink: 0;
   
}
.upload-button{
    height: 40px;
    width: 40px;
    margin-left: 0px;
    padding: 0;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 0px white;
}
.upload-icon{
    height: 24px;
    width: 24px;
}
.upload-button:hover{
    opacity: 0.9;
    cursor: pointer;
}
.channelProfile-button{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    padding: 0;
    border: none;
    border-radius: 50px;
}
.channelProfile-icon{
    height: 40px;
    width: 40px;
    border-radius: 50px;
}
.channelProfile-button:hover{
    opacity: 0.9;
    cursor: pointer;
}
.channelProfile-button:active{
    opacity: 0.7;
}